header{
    background-color: rgb(71, 69, 69);
    color: white;
    text-align: center;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    z-index: 1;
}
nav{
    background-color: grey;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 10%;
    z-index: 10;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
ul a:hover{
    background-color: black;
}
li{
    margin-left: 20px;
    position: relative;
}
a{
    background-color: grey;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}
li.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu { 
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: lightblue;
    color: rgb(81, 81, 173);
    padding: 10px
}
.dropdown-menu li{
    margin: 0;
}
.dropdown-menu a {
    background-color: lightblue;
    color: rgb(71, 71, 241);
    padding: 5px 10px;
}
.dropdown-menu a:hover{
    background-color: black;
}
 footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 2px;
}